<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    {{> header}}
    <main class="Container">
      <h2>Apply to Join OrlPD</h2>
      <form class="Form" accept-charset="UTF-8" action="http://formspree.io/robbschiller@gmail.com" method="POST">
        <label>First Name <span>*</span></label>
        <input type="text" name="first-name">
        <label>Last Name <span>*</span></label>
        <input type="text" name="last-name">
        <label>Email Address <span>*</span><small> (Will not be published)</small></label>
        <input type="email" name="email">
        <label>Where do you work? <span>*</span></label>
        <input type="text" name="company">
        <label>Company URL <span>*</span></label>
        <input type="text" name="companyURL">
        <label>Your Portfolio URL <span>*</span></label>
        <input type="text" name="portfolioURL">
        <label>Your Twitter URL <span>*</span></label>
        <input type="text" name="twitterURL">
        <input type="hidden" name="_next" value="//orl-p-d.com/thanks" />
        <button type="submit" name="submit">Submit</button>
      </form>
    </main>
    {{> footer}}
  </body>
</html>
