<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    {{> header}}
    <main class="container">
      {{#designers}}
        <ul class="grid grid--gutters">
          {{#each designer}} 
          <li class="media grid--item">
            <img class="media--avatar" src="{{this.avatar}}">
            <a class="media--title" href="{{this.twitter}}">{{{this.name}}}</a>
            <a class="media--subtitle" href="this.companyURL">{{{this.company}}}</a>
          </li>
        {{/each}}  
        </ul>
      {{/designers}}
    </main>
    {{> footer}}
  </body>
</html>
