<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    {{> header}}
    <main class="Container">
      <div class="Block">
        <h4>Find Designers in Orlando.</h4>
        <p>Are you a startup, agency, or recruiter looking for product designers in Orlando?</p>
        <a class="Block-btn" href="/post/">Post a Position<span> • It's Free!</span></a>
      </div>
      {{#opportunities}}
      <ul>
        {{#opportunity}}
        <li>
          <img></a>
          <a></a>
          <a></a>
        </li>
        {{/opportunity}}
      </ul>
      {{/opportunities}}
    </main>
    {{> footer}}
  </body>
</html>
