<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    {{> header}}
    <main class="Container">
      <div class="Block">
        <h4>Find Designers in Orlando.</h4>
        <p>Are you a startup, agency, or recruiter looking for product designers in Orlando?</p>
        <a class="Block-btn" href="/post/">Post a Position<span> • It's Free!</span></a>
      </div>
      {{#opportunities}}
        <ul class="opp-list">
          {{#opportunity}}
            <li class="Media Long">
              <img class="Media-avatar" src="{{avatar}}">
              <a class="Media-title" href="{{companyURL}}">{{{company}}}</a>
              <a class="Media-subtitle" href="{{jobURL}}">is looking for a <b>{{{jobTitle}}} →</b></a>
            </li>
          {{/opportunity}}
        </ul>
      {{/opportunities}}
    </main>
    {{> footer}}
  </body>
</html>
