<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    {{> header}}
    <main class="Container">
    {{#resources}}
      <div class="Section">
        <h1>Why Product Design?</h1>
        <ul>
          {{#why}}
          <li class="Media">
            <img class="Media-avatar" src="{{avatar}}">
            <a class="Media-title" href="{{url}}">{{{title}}}</a>
            <a class="Media-subtitle" href="{{authorURL}}">{{{author}}}</a>
          </li>
          {{/why}}
        </ul>
      </div>
      <div class="Section">
        <h1>Interface Design</h1>
        <ul class="Grid Grid-gutters">
          {{#interface}}
          <li class="Media Col">
            <img class="Media-avatar" src="{{avatar}}">
            <a class="Media-title" href="url">{{{title}}}</a>
            <a class="Media-subtitle" href="authorURL">{{{author}}}</a>
          </li>
          {{/interface}}
        </ul>
      </div>
      <div class="Section">
        <h1>Research</h1>
        <ul class="Grid Grid-gutters">
          {{#research}}
          <li class="Media Col">
            <img class="Media-avatar" src="{{avatar}}">
            <a class="Media-title" href="url">{{{title}}}</a>
            <a class="Media-subtitle" href="authorURL">{{{author}}}</a>
          </li>
          {{/research}}
        </ul>
      </div>
      <div class="Section">
        <h1>Writing</h1>
        <ul class="Grid Grid-gutters">
          {{#writing}}
          <li class="Media Col">
            <img class="Media-avatar" src="{{avatar}}">
            <a class="Media-title" href="url">{{{title}}}</a>
            <a class="Media-subtitle" href="authorURL">{{{author}}}</a>
          </li>
          {{/writing}}
        </ul>
      </div>
    {{/resources}}
    </main>
    {{> footer}}
  </body>
</html>
