      {{#resources}}
      <div class="section">
        <h1>Why Product Design?</h1>
        <ul class="grid grid--gutters">
          {{#why}}
          <li class="media grid--item">
            <img class="media--avatar" src="{{avatar}}">
            <a class="media--title" href="url">{{{title}}}</a>
            <a class="media--subtitle" href="authorURL">{{{author}}}</a>
          </li>
          {{/why}}
        </ul>
      </div>
      <div class="section">
        <h1>Interface Design</h1>
        <ul class="grid grid--gutters section">
          {{#interface}}
          <li class="media grid--item">
            <img class="media--avatar" src="{{avatar}}">
            <a class="media--title" href="url">{{{title}}}</a>
            <a class="media--subtitle" href="authorURL">{{{author}}}</a>
          </li>
          {{/interface}}
        </ul>
      </div>
      <div class="section">
        <h1>Research</h1>
        <ul class="grid grid--gutters section">
          {{#research}}
          <li class="media grid--item">
            <img class="media--avatar" src="{{avatar}}">
            <a class="media--title" href="url">{{{title}}}</a>
            <a class="media--subtitle" href="authorURL">{{{author}}}</a>
          </li>
          {{/research}}
        </ul>
      </div>
      <div class="section">
        <h1>Writing</h1>
        <ul class="grid grid--gutters section">
          {{#writing}}
          <li class="media grid--item">
            <img class="media--avatar" src="{{avatar}}">
            <a class="media--title" href="url">{{{title}}}</a>
            <a class="media--subtitle" href="authorURL">{{{author}}}</a>
          </li>
          {{/writing}}
        </ul>
      </div>
    {{/resources}}
