<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    <header>
      <nav class="navbar">
        <div class="navbar--logo">
          <a href="/">OrlPD</a>
        </div>
        <div class="navbar--nav">
          <ul class="list-clear">
            <li><a href="/">Designers</a></li>
            <li><a href="/opportunities">Opportunities</a></li>
            <li><a href="/resources">Resources</a></li>
            <li><button class="btn" href="/apply">Apply</button></li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      {{{ contents }}}
    </main>
    <footer>
    </footer>
  </body>
</html>
