// ********************
//
// Navigation Style
//
// ********************

header {
  background: $color-brand-asset;
}

.navbar {
  padding: 55px 70px 70px 70px;

  // Logo Element
  .navbar--logo {
    display: inline;
    font-size: 48px;
    line-height: 48px;
  }

  // Navigation Element
  .navbar--nav {
    float: right;
    padding-top: 5px;

    li {
      padding-left: 10px;
      margin-left: 10px;
    }
  }

  ul {
    display: inline;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    font-weight: 600;

    a {
      color: white;
    }
  }
}
