// Sarss
// -----

@import "../bower_components/aglobof-sass/glob";
@import "../bower_components/flex.grid/grid";

// Scratch
// -------------------------------------------------------------------
body {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  h1 {
    color: grey;
  }
}

.container {
  @include list-clear;
  padding: 55px;
}

.Navbar {
  background: royalblue;
  width: 100%;
  padding: 60px;
  @media screen and (max-width: 768px) {
    text-align: center;
  }

  &-logo, &-nav  {
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;
  }
  
  &-logo, &-navLink {
    color: white;
    text-decoration: none;
  }

  &-logo {
    font-size: 3em;
  }
  
  &-nav {
    float: right;
    padding-top: 18px;
    @include list-clear-inline;
    @media screen and (max-width: 768px) {
      float: none;
    }
    &Link {
      margin-right: 15px;
      &:hover {
        color: darken(white, 20%);
      }
      &:active {
        color: firebrick;
      }
    }
    &Btn {
      background: white;
      color: royalblue;
      border: none;
      border-radius: 20px;
      font-weight: bold;
      padding: 8px 16px 10px 16px;
      text-decoration: none;
      &:hover {
        background: firebrick;
        color: white;
      }
    }
  }
}

.Media {
  max-width: 520px;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 30px;
  margin-bottom: 30px;

  &-avatar {
    max-width: 50px;
    float: left;
    margin-right: 10px;
    height: 50px;
  }

  &-title, &-subtitle {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  &-title {
    color: royalblue;
    font-size: 1.5em;
    font-weight: bold;
  }

  &-subtitle {
    color: grey;
    display: block;
  }
}

.Section {
  margin-bottom: 5em;  
}
