// Serrrssss
// =========

// Settings
// -------------------------------------------------------
// Define some settings before all the things
// -------------------------------------------------------
// Grid Vars
$grid-gutter__width: 20px;
$grid--item__break: 760px;

// Mixins
@mixin list-clear {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
    }
  }
}

// Import Resets
// -------------------------------------------------------
@import "lib/aglobof-sass.resets/normalize";
@import "lib/aglobof-sass.resets/box";

// Import Grid
// -------------------------------------------------------
@import "lib/aglobof-sass.grid/grid";

// Scratch
// ---------------------------------------------------------
// Add scratch styles here until this maybe gets more
// organized at some point?
// --------------------------------------------------------
body {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  h1 {
    color: grey;
  }
}

.container {
  @include list-clear;
  padding: 55px;
}

.navbar {
  background: royalblue;
  width: 100%;
  padding: 55px;
  @media screen and (max-width: 768px) {
    text-align: center;
  }

  &--logo, &--nav  {
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;
  }
  
  &--logo, &--nav__link {
    color: white;
    text-decoration: none;
  }

  &--logo {
    font-size: 3em;
  }
  
  &--nav {
    float: right;
    padding-top: 18px;
    @include list-clear;
    @media screen and (max-width: 768px) {
      float: none;
    }
    &__link {
      margin-right: 15px;
      &:hover {
        border-bottom: 3px solid #fff;
        padding-bottom: 5px;
      }
    }
    &__btn {
      background: white;
      color: royalblue;
      border: none;
      border-radius: 20px;
      font-weight: bold;
      padding: 5px 12px 8px 12px;
      text-decoration: none;
      &:hover {
        background: darken(white, 10%);
      }
    }
  }
}

.media {
  max-width: 300px;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 30px;

  &--avatar {
    max-width: 50px;
    float: left;
    margin-right: 10px;
  }

  &--title, &--subtitle {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  &--title {
    color: royalblue;
    font-size: 1.5em;
    font-weight: bold;
  }

  &--subtitle {
    color: grey;
  }
}

.section {
  margin-bottom: 5em;  
}

.js-active {
  border-bottom: 3px solid #fff;
  padding-bottom: 5px;  
}
